DB_URL=jdbc:mysql://localhost:3306/onecare # this is same for all 
DB_USERNAME=your username 
DB_PASSWORD=your passsword

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your@gmail.com
SMTP_PASSWORD=your_app_password